# keep node modules out of version control
node_modules

# Keep environment variables out of version control
.env

# Keep csr SSL file, or in general files ending with .pem out of version control
csr.pem

# Keep python folder out of vc
python

# Keep vscode out of vc
.vscode